version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "03:00"
    open-pull-requests-limit: 5
    reviewers:
      - "Thomasxxl02"
    labels:
      - "dependencies"
    versioning-strategy: "increase"
    commit-message:
      prefix: "deps:"
      include: "scope"
